.code-example {
  margin-top: 0;
  min-width: 300px;
  max-width: 600px;
  overflow: scroll;
  border: 1px solid #ddd;
  /*display: inline-block !important;*/
}

code.inline {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: 1px 5px;
}

.code-intro {
  margin-bottom: 0;
}

ul.doc-props {
  margin-left: 2.5em !important;
}
