<div class="ui container">

  <div class="ui secondary pointing menu">
    {{#link-to 'about' class="item"}}
      About
    {{/link-to}}
    {{#link-to 'docs' class="item"}}
      Documentation
    {{/link-to}}
    <a href="https://github.com/vestorly/ember-cli-preloader" class="item">
      GitHub
    </a>
    <div class="right menu">
      <a href="http://www.vestorly.com/developers/" class="ui item">
        Vestorly
      </a>
    </div>
  </div>
  <div class="ui segment raised">
    {{outlet}}
  </div>

</div>