<div class="ui container">

  <div class="ui secondary pointing menu">
    <a class="item active">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <a class="item">
      Friends
    </a>
    <div class="right menu">
      <a class="ui item">
        Logout
      </a>
    </div>
  </div>
  <div class="ui piled segment">
    <h4 class="ui header">Ember CLI Preloader</h4>
      <p>Build a preloader that is visible while the browser is parsing your source code.</p>
      <p>This example uses the default preloader (packaged with ember-cli-preloader).  After the DOM is rendered by Ember, the classname <b><code>fade</code></b> is added to a parent <b><code>div</code></b> of your preloader HTML. The HTML that ends up in your index.html is of the structure:</p>
      <script src="https://gist.github.com/joebartels/2b2fd8dcf30b72e8c708.js"></script>
      <p>Eu quo homero blandit intellegebat. Incorrupte consequuntur mei id. Mei ut facer dolores adolescens, no illum aperiri quo, usu odio brute at. Qui te porro electram, ea dico facete utroque quo. Populo quodsi te eam, wisi everti eos ex, eum elitr altera utamur at. Quodsi convenire mnesarchum eu per, quas minimum postulant per id.</p>
  </div>

  <div class="ui cards">
    <div class="card">
      <div class="content">
        <img class="right floated mini ui image" src="/images/avatar/large/elliot.jpg">
        <div class="header">
          Elliot Fu
        </div>
        <div class="meta">
          Friends of Veronika
        </div>
        <div class="description">
          Elliot requested permission to view your contact details
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Approve</div>
          <div class="ui basic red button">Decline</div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <img class="right floated mini ui image" src="/images/avatar/large/jenny.jpg">
        <div class="header">
          Jenny Hess
        </div>
        <div class="meta">
          New Member
        </div>
        <div class="description">
          Jenny wants to add you to the group <b>best friends</b>
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Approve</div>
          <div class="ui basic red button">Decline</div>
        </div>
      </div>
    </div>
  </div>


</div>